{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block menu %}
{% include 'answers/menu_answer.html' %}
{% endblock menu %}

{% block title %}
<h3>Тема: {{theme|truncatechars:25}}, Вопрос: {{text|truncatechars:25 }} , Ответов: {{ answers_count }} </h3>
{% endblock title %}


<!--
<h3> {{ value1|default_if_none:"ничего" }} </h3>
-->

{% block content %}
{%if answers%}

<table style="width: 100%">
    <tr>
        <th> №</th>
        <th> Ответ</th>
        <th></th>
    </tr>
    {% for answer in answers %}
    <tr>
        <td> {{ answer.id}}</td>
        <td> {{ answer.text|truncatechars:25 }}</td>
        <td>
        </td>

    </tr>
    {% endfor%}
</table>


{%else%}
<h4>Ответов нет</h4>
{%endif%}

<h3><br></h3>
<button onclick="document.location='create/'" class="btn btn-primary">Добавить Ответ</button>

{% endblock content %}


<!--




        <td><a href="update/{{question.id}}"><u> {{ question.text|truncatechars:25 }} </u></a></td>


            <a href="delete/{{question.id}}" ><u> Del </u></a>








-->
