{% extends 'flatpages/default.html' %}

{% block menu %}
{% include 'answers/menu_change.html' %}
{% endblock menu %}

{% block title %}
<h1> Изменение темы Ответа № {{aw}}</h1>
{% endblock title %}

{% block content %}
<form method="POST" enctype="multipart/form-data" class="text-left">

    {% csrf_token %}
    <div class="mb-3">
        <label for="text" class="form-label">Тема</label>
        <textarea class="form-control" id="text" name="text">{{text}}</textarea></div>
    <br><br>
    <p>
        <button type="submit" class="btn btn-primary">Сохранить Ответ</button>
    </p>
</form>
{% endblock content %}

{% block content1 %}
{% endblock content1 %}