{% extends 'flatpages/default.html' %}

{% block menu %}
{% include 'questions/menu_change.html' %}
{% endblock menu %}

{% block title %}
<h1> Изменение темы Вопроса № {{qs}}</h1>
{% endblock title %}

{% block content %}
<form method="POST" enctype="multipart/form-data" class="text-left">

    {% csrf_token %}
    <div class="mb-3">
        <label for="text" class="form-label">Тема</label>
        <textarea class="form-control" id="text" name="text">{{text}}</textarea></div>
    <br>
    <div class="col-2">
        <select class="form-select" name="selected" aria-label="Default select example" >
            <option value="0" {% if type == '0' %} selected {%endif%}>Текст</option>
            <option value="1" {% if type == '1' %} selected {%endif%}>Единичный</option>
            <option value="2" {% if type == '2' %} selected {%endif%}>Множественный</option>
        </select></div>
    <br><br>

    <p>
        <button type="submit" class="btn btn-primary">Сохранить Вопрос</button>
    </p>
</form>
{% endblock content %}

{% block content1 %}
{% endblock content1 %}