{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block menu %}
{% endblock menu %}

{% block title %}
<h4>Тема: {{theme}}</h4>
<h4>Описание: {{description}}</h4>
<h5>Вопросов: {{ questions_count }}</h5>
{% endblock title %}


<!--
<h3> {{ value1|default_if_none:"ничего" }} </h3>
-->

{% block content %}

{%if questions%}

<table style="width: 100%">
    <tr>
        <th> №</th>
        <th> Вопрос</th>
        <th> Тип</th>
        <th> Ответы</th>
    </tr>
    {% for question in questions %}
    <tr>
        <td> {{ question.id}}</td>
        <td> {{ question.text|truncatechars:25 }}</td>
        <td> {{ question.type|qs_type}}</td>
        {%if question.id|as_count == 'текст' %}
            <td>Текст</td>
        {%else%}
            <td> {{ question.id|as_count }} </td>
        {%endif%}

    </tr>
    {% endfor%}
</table>


{%else%}
<h4>Вопросов нет</h4>
{%endif%}

<h3><br></h3>

{% endblock content %}

<!--

{% include 'questions/menu_question.html' %}

<button onclick="document.location='create/'" class="btn btn-primary">Добавить Вопросы</button>


        <td><a href="{% url 'question_update' question.id %}"><u> {{ question.text|truncatechars:25 }} </u></a></td>
        <td><a href="{% url 'question_update' survey.id %}"><u> {{ question.theme|truncatechars:25 }} </u></a></td>

-->
